body{
    flex-wrap: wrap;
}



.nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 5, 106);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;

}

.b1{
    background-color: rgb(248, 5, 106);
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    width: 130px;
    height: 50px;
    cursor: pointer;
    
}

.div1{
    position: fixed;
}

.nav2{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.b2{
    border: 1px solid rgb(248, 5, 106);
    border-radius: 10px;
    background-color: white;
    color: rgb(248, 5, 106);
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.b3{
    border: 1px solid rgb(248, 5, 106);
    border-radius: 10px;
    background-color: white;
    color: white;
    width: 100px;
    height: 30px;
    background-color: rgb(248, 5, 106);
    cursor: pointer;
}



.box{
    height: 200px;
    width: 200px;
    border: 1px solid rgb(248, 5, 106);
    margin: 4px;
    position: relative;
    z-index: -100;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4px 12px;
}
.box > img{
    height:60%;
    width: 100%;
}

.b5{
    width: 200px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    background-color: rgb(248, 5, 106);
    position: fixed;
    margin-top: 425px;
    margin-left: 83%;
    flex-wrap: wrap;
}

.title{
    font-weight: bold;
    display: block;
    padding: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.desc{
    font-size: 12px;
    color: rgb(52, 48, 48);
    padding: 2px;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.price{
    padding: 3px 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color: rgb(248, 5, 106);
    color: white;
    position: absolute;
    top: 3px;
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}